@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Add any custom styles below if needed */
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
}
